<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template_data.title}}</title>
    <link rel="stylesheet" href="../../static/css/land-style.css">
</head>
<body>
    <nav>
        <h1>PROJECT TRACKER</h1>
        <ul>
            <li><a href="{% url 'home.landing' %}">Home</a></li>
            <li><a href="#">About</a></li>
            {% if user.is_authenticated %}
            <li><a class="signIn" href="{% url 'accounts.logout' %}">Logout</a></li>
            {% else %}
            <li><a class="signIn" href="{% url 'accounts.access' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <div class="left">
            <h1>Project Tracker</h1>
            <p>Manage your projects and tasks efficiently</p>
            <a href="{% url 'accounts.access' %}">Get Started</a>
        </div>
        <div class="right">
            <nav>
                <ul class="ms">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
            <div class="main">
                <div class="check-list">
                    <div class="line"></div>
                    <div class="check-item">
                        <img src="../../static/img/checkbox.png" alt="" style="width: 30px; height: 17px;">
                        <div class="c1"></div>
                    </div>
                    <div class="check-item">
                        <img src="../../static/img/checkbox.png" alt="" style="width: 30px; height: 17px;">
                        <div class="c2"></div>
                    </div>
                    <div class="check-item">
                        <img src="../../static/img/checkbox.png" alt="" style="width: 30px; height: 17px;">
                        <div class="c3"></div>
                    </div>
                    <div class="check-item">
                        <img src="../../static/img/checkbox.png" alt="" style="width: 30px; height: 17px;">
                        <div class="c1"></div>
                    </div>
                    <div class="check-item">
                        <img src="../../static/img/checkbox.png" alt="" style="width: 30px; height: 17px;">
                        <div class="c4"></div>
                    </div>
                    <div class="line1"></div>
                </div>
                <div class="stats">
                    <img src="../../static/img/pie.png" alt="Pie Chart" style="width: 170px; height: 100px;">
                    <img src="../../static/img/chart.png" alt="Statistics Chart" style="width: 160px; height: 100px; margin-left: 10px;">
                </div>
            </div>
        </div>
    </main>
</body>
</html>