{% extends 'base.html' %} {% block content %}
<h2 class="justify-content-center">Login</h2>
<div class="form-container justify-content-center">
    {% if template_data.error %}
    <div class="alert-danger alert">{{ template_data.error }}</div>
    {% endif %}
    <form method="POST" class="flex-form">
        {% csrf_token %}
        <div>
            <label class="form-label" for="username">Username</label>
            <input id="username" type="text" name="username" autofocus required autocomplete="username" class="form-input">
        </div>
        <div>
            <label class="form-label" for="password">Password</label>
            <input id="password" type="password" name="password" required autocomplete="current-password" class="form-input">
        </div>
        <button type="submit" class="auth-btn text-white">Login</button>
    </form>
</div>
{% endblock content %}